
.landing {
    display: flex;
}
.landingLogo {
    width: 95%;
}
.landingLogo img{
    height: 100px;
}

 /*buttons*/
.buttons {
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
}
.buttons .signup {
    min-width: 60px;
    min-height: 30px;
}
.buttons .login {
    min-width: 60px;
    min-height: 30px;
}

 /*image animation styling*/
.content {
    position: relative;
    width: 900px;
    margin: 100px auto;
    perspective: 600px;
}
.image-area{
    position: relative;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}
.image-area img {
    width: 100px;
    height: 150px;
    border: 2px solid #ffffff;
}
.image-area span {
    left: 50%;
    position: absolute;
    transform: rotateY(calc(var(--i)*30deg)) translateZ(300px);
}

@keyframes animate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}