
.landing {
    display: flex;
}
.landingLogo {
    width: 95%;
}
.landingLogo img{
    height: 100px;
}

.buttons {
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
}
.buttons .signup {
    min-width: 60px;
    min-height: 30px;
}
.buttons .login {
    min-width: 60px;
    min-height: 30px;
}