.top {
    margin: 0px;
    display: flex;
}
.top img {
    height: 100px;
}

.container{
    perspective: 1000px;
}
.screen{
    background-color: #ffffff;
    margin: auto;
    height: 30vh;
    width: 50%;
    transform: rotateX(-40deg);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.7);
} 
.row{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
  }
.row .available_seat{
    background-color: #444444;
    height: 3.5vh;
    width: 3vw;
    margin: 1vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    text-align: center;
}
.row .selected_seat {
    background-color: #2a57b7;
    height: 3.5vh;
    width: 3vw;
    margin: 1vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    text-align: center;
}
.row .occupied_seat {
    background-color: #a52b2b;
    height: 3.5vh;
    width: 3vw;
    margin: 1vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    text-align: center;
}
.available_seat:hover {
    background-color: #444444;
    height: 3.8vh;
    width: 3.3vw;
    margin: 0.9vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    text-align: center;
}
.selected_seat:hover {
    background-color: #2a57b7;
    height: 3.8vh;
    width: 3.3vw;
    margin: 0.9vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 10px;
    text-align: center;
}
