{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block body %}
    <div class="top">
        <a href="/home/">
            <img src="{{ url_for('static', filename='img/landing.jpg') }}" alt="Failed to load image">
        </a>
    </div> 

    <div class="movie_name">
        <h1>{{ movie.name }}</h1>
    </div>
    <div class="content">
        <div class="image">
            <img src="data:;base64,{{ image }}" alt="Failed to load image">

            <br>

            <p>
                <h4>Cinema {{ movie.cinema_room }}</h4>
            </p>
        </div>

        <div class="details">
            <p class="hd">Date</p>
            <p class="text">
                {{ datetime.strftime(movie.date_time, "%Y-%m-%d") }}
            </p>
            <p class="hd">Time</p>
            <p class="text">
                {{ datetime.strftime(movie.date_time, "%Hh%M") }}
            </p>
            <p class="hd">Category</p>
            <p class="text">
                {{ movie.category }}
            </p>
            <p class="hd">Decsription</p>
            <p class="text">
                {{ movie.description }}
            </p>
            <p class="hd">Available seats</p>
            <p class="text">
                {{ movie.available_seats }}
            </p>
            <p class="hd">Sold seats</p>
            <p class="text">
                {{ movie.sold_seats }}
            </p>
            <p class="hd">Price</p>
            <p class="text">                
                R{{ movie.price }}.00
            </p>

        </div>
    </div>

    <a href="/home/movie/{{ format_str(movie.name.lower()) }}-{{ movie.movie_id }}/booking/seat-selection-{{ movie.cinema_room }}/">
        <p class="button">Continue</p>
    </a>
    
{% endblock %}
