{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="top">
        <a href="/home/">
            <img src="{{ url_for('static', filename='img/landing.jpg') }}" alt="Failed to load image">
        </a>

        <!-- <ul class="nav">
            <li>
                <a href="/home/">
                    <Button>Home</Button> 
                </a>
            </li>
            <li>
                <a href="/home/vr/">
                    <Button>VR</Button>
                </a>
            </li>
            <li>
                <a href="/home/about">
                    <Button>About</Button>
                </a>
            </li>
        </ul> -->
    </div>
    <div class="content">
        {% for category in movies %}
            <h2>{{ category }}</h2>
            <div class="images">
                {% for (movie, image) in zip(movies[category][0], movies[category][1]) %}
                    <div class="details">
                        <a href="/home/movie/{{ format_str(movie.name.lower()) }}-{{ movie.cinema_room }}{{ movie.movie_id }}/details">
                            <img src="data:;base64,{{ image }}" alt="Failed to load image">

                            <p id="text">
                                {{ movie.name }}
                                <br> 
                            </p>
                        </a>
                        
                        <p id="text2">
                            Price: R{{ movie.price }}.00
                            <br>
                            Seats sold: {{ movie.sold_seats }}
                            <br>
                            Seats available: {{ movie.available_seats }}
                            <br>
                            Time: {{ datetime.strftime(movie.date_time, "%Hh%M") }}
                        </p>
                    </div> 
                {% endfor %}
            </div>
        {% endfor %}
         
    </div>
{% endblock %}
