{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">

{% endblock %}

{% block body %}

    <div class="landing">
        <div class="landingLogo">
            <a href="/">
                <img src="{{ url_for('static', filename='img/landing.jpg') }}" alt="Failed to load image">
            </a>
        </div>
        <div class="buttons">
            <a href="/signup">
                <button class="signup">Signup</button>
            </a>
            <a href="/login">
                <button class="login">Login</button>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="image-area">
            <span style="--i:1;">
                <img src="{{ url_for('static', filename='img/landing-page/ant man.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:2;">
                <img src="{{ url_for('static', filename='img/landing-page/bad boy.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:3;">
                <img src="{{ url_for('static', filename='img/landing-page/black panther.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:4;">
                <img src="{{ url_for('static', filename='img/landing-page/dragon ball z.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:5;">
                <img src="{{ url_for('static', filename='img/landing-page/fall.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:6;">
                <img src="{{ url_for('static', filename='img/landing-page/grimsby.avif') }}" alt="Failed to load image ">
            </span>
            <span style="--i:7;">
                <img src="{{ url_for('static', filename='img/landing-page/harry potter.png') }}" alt="Failed to load image ">
            </span>
            <span style="--i:8;">
                <img src="{{ url_for('static', filename='img/landing-page/home alone.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:9;">
                <img src="{{ url_for('static', filename='img/landing-page/jujutsu kaisen.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:10;">
                <img src="{{ url_for('static', filename='img/landing-page/mr clean.jpg') }}" alt="Failed to load image ">
            </span>
            <span style="--i:11;">
                <img src="{{ url_for('static', filename='img/landing-page/spider man far from home.webp') }}" alt="Failed to load image ">
            </span>
            <span style="--i:12;">
                <img src="{{ url_for('static', filename='img/landing-page/world heros mission.jpg') }}" alt="Failed to load image ">
            </span>
        </div>
    </div>

{% endblock %}
