{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seat_selection.css') }}">
{% endblock %}

{% block body %}
    <div class="top">
        <a href="/home/">
            <img src="{{ url_for('static', filename='img/landing.jpg') }}" alt="Failed to load image">
        </a>
    </div> 

    <div class="container">
        <div class="key_legend">
          <li>
            <div class="available_seat"></div>
            <small>Available</small>
          </li>
          <li>
            <div class="selected_seat"></div>
            <small>Selected</small>
          </li>
          <li>
            <div class="occupied_seat"></div>
            <small>Occupied</small>
          </li>
        </div>

        <div class="screen"></div>
    
        
        <div class="row">
            {% for index, seat in enumerate(seats[0]) %}
                {% if seat == 0 %}
                  <div class="available_seat" data-value="A{{ index + 1 }}">A{{ index + 1 }}</div>
                {% else %}
                  <div class="occupied_seat" data-value="A{{ index + 1 }}">A{{ index + 1 }}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="row">
            {% for index, seat in enumerate(seats[1]) %}
                {% if seat == 0 %}
                  <div class="available_seat" data-value="B{{ index + 1 }}">B{{ index + 1 }}</div>
                {% else %}
                  <div class="occupied_seat" data-value="B{{ index + 1 }}">B{{ index + 1 }}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="row">
            {% for index, seat in enumerate(seats[2]) %}
                {% if seat == 0 %}
                  <div class="available_seat" data-value="C{{ index + 1 }}">C{{ index + 1 }}</div>
                {% else %}
                  <div class="occupied_seat" data-value="C{{ index + 1 }}">C{{ index + 1 }}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="row">
          {% for index, seat in enumerate(seats[3]) %}
                {% if seat == 0 %}
                  <div class="available_seat" data-value="D{{ index + 1 }}">D{{ index + 1 }}</div>
                {% else %}
                  <div class="occupied_seat" data-value="D{{ index + 1 }}">D{{ index + 1 }}</div>
                {% endif %}
            {% endfor %}
        </div>
      </div>

      <div class="info">
        <small>You have selected <span id="num_of_seats_selected">0</span> seats. Your total is R<span id="total_price">0</span>.00</small>
        <br>
        <form method="post">
          <!-- Seats selected: <input type="text" id="seats_selected" name="seats_selected"> -->
          <textarea name="seats_selected" id="seats_selected" rows="1"></textarea>
          <br>
          <br>
          <button type="submit">Continue</button>
        </form>
      </div>
    </div>


    <div id="movie_price" data-value="{{ movie.price }}"></div>
    <script src="{{ url_for('static', filename='js/seat_selection.js') }}"></script>
{% endblock %}
