{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seat_selection.css') }}">
{% endblock %}

{% block body %}
    <div class="top">
        <a href="/home/">
            <img src="{{ url_for('static', filename='img/landing.jpg') }}" alt="Failed to load image">
        </a>
    </div> 

    <div class="container">

        <div class="screen"></div>
    
        <div class="row">
          <div class="available_seat" data-value="A1">A1</div>
          <div class="available_seat" data-value="A2">A2</div>
          <div class="available_seat" data-value="A3">A3</div>
          <div class="available_seat" data-value="A4">A4</div>
          <div class="available_seat" data-value="A5">A5</div>
          <div class="available_seat" data-value="A6">A6</div>
          <div class="available_seat" data-value="A7">A7</div>
          <div class="available_seat" data-value="A8">A8</div>
        </div>
    
        <div class="row">
          <div class="available_seat" data-value="B1">B1</div>
          <div class="available_seat" data-value="B2">B2</div>
          <div class="available_seat" data-value="B3">B3</div>
          <div class="available_seat" data-value="B4">B4</div>
          <div class="available_seat" data-value="B5">B5</div>
          <div class="available_seat" data-value="B6">B6</div>
          <div class="available_seat" data-value="B7">B7</div>
          <div class="available_seat" data-value="B8">B8</div>
        </div>
    
        <div class="row">
          <div class="available_seat" data-value="C1">C1</div>
          <div class="available_seat" data-value="C2">C2</div>
          <div class="available_seat" data-value="C3">C3</div>
          <div class="available_seat" data-value="C4">C4</div>
          <div class="available_seat" data-value="C5">C5</div>
          <div class="available_seat" data-value="C6">C6</div>
          <div class="available_seat" data-value="C7">C7</div>
          <div class="available_seat" data-value="C8">C8</div>
        </div>
    
        <div class="row">
          <div class="occupied_seat" data-value="D1">D1</div>
          <div class="available_seat" data-value="D2">D2</div>
          <div class="available_seat" data-value="D3">D3</div>
          <div class="available_seat" data-value="D4">D4</div>
          <div class="available_seat" data-value="D5">D5</div>
          <div class="available_seat" data-value="D6">D6</div>
          <div class="available_seat" data-value="D7">D7</div>
          <div class="available_seat" data-value="D8">D8</div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/seat_selection.js') }}"></script>
{% endblock %}
